#svg {
    position: relative;
    left: 0;
    top: 0;
}
#vb {
    border: 2px solid blue;
    height: 400px;
    padding: 0;
    width: 700px;
}

#image0 circle {
    fill: red;
    stroke-width: 0;
}
div p {
    width: 700px;
}